@use "../global" as *;

.cts-sso-btn {
  width: 100%;
  padding: $vars-spacing-normal;
  border-radius: $vars-spacing-xs;
  background-color: $vars-grey-1000;
  color: $vars-white-color;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  &[disabled],
  &.disabled {
    box-shadow: 0px 1px 1px 0px #0000001f;
    box-shadow: 0px 0px 0px 1px #676e7629;
    box-shadow: 0px 2px 5px 0px #676e7614;
    color: $vars-grey-50;
    cursor: not-allowed;
    background-color: rgba(26, 29, 31, 0.3);
  }
}

.btn-social-login {
  width: fit-content;
  flex-grow: 1;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 0.875rem;
  border: 1px solid $vars-grey-200;
  border-radius: $vars-spacing-xs;
  padding: $vars-spacing-xs;
  background-color: $vars-white-color;
}

.goPlay-btn {
  width: 100%;
  max-width: 245px;
  padding: $vars-spacing-normal;
  border-radius: $vars-spacing-xs;
  background-color: $vars-grey-50;
  color: $vars-grey-1000;
  text-align: center;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include display-flex-center;
  gap: 0.5rem;
  @include txt-font-semibold;
  @include res-responsive(md) {
    font-size: 14px;
  }
  &--red {
    background-color: $vars-error-700;
    color: $vars-white-color;
    &:hover {
      background-color: $vars-error-700-opacity-75 !important;
    }
    img {
      width: 18px;
      @include res-responsive(md) {
        width: 14px;
      }
    }
  }

  &--black {
    background-color: $vars-grey-1000;
    color: $vars-white-color;
  }

  &:hover {
    background-color: $vars-grey-1000;
    color: $vars-white-color;
  }
}

.gpBtnSm {
  width: fit-content;
  min-width: 96px;
  padding: $vars-spacing-xs $vars-spacing-normal;
  border-radius: $vars-spacing-xs;
  background-color: $vars-grey-50;
  color: $vars-grey-1000;
  text-align: center;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include display-flex-center;
  gap: 0.5rem;
  @include txt-font-semibold;
  @include res-responsive(md) {
    font-size: 14px;
  }
  &--red {
    background-color: $vars-error-700;
    color: $vars-white-color;
    &:hover {
      background-color: $vars-error-700-opacity-75 !important;
    }
    img {
      width: 18px;
      @include res-responsive(md) {
        width: 14px;
      }
    }
  }

  &--black {
    background-color: $vars-grey-1000;
    color: $vars-white-color;
  }

  &:hover {
    background-color: $vars-grey-1000;
    color: $vars-white-color;
  }
}

.btn-auth {
  @extend .goPlay-btn;
  padding: $vars-spacing-xs $vars-spacing-normal;
  background-color: $vars-grey-1000;
  color: $vars-white-color;
  &:hover {
    background-color: $vars-grey-200;
    color: $vars-grey-1000;
  }
}

.btn-loadmore {
  width: fit-content;
  min-width: 105px;
  padding: $vars-spacing-xs $vars-spacing-normal;
  border-radius: $vars-spacing-xs;
  @include txt-font-semibold;
  border: 2px solid $vars-grey-200;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: $vars-spacing-normal;
  @include res-responsive(md) {
    font-size: $vars-spacing-sm;
  }
  &:hover {
    border: 2px solid $vars-grey-1000;
    background-color: $vars-grey-1000;
    color: $vars-white-color;
  }
}

.btn-comming-soon {
  border: 1px solid $vars-grey-500;
  border-radius: $vars-spacing-normal;
  padding: $vars-spacing-xs $vars-spacing-lg;
  color: $vars-white-color;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $vars-grey-50;
    color: $vars-grey-1000;
  }
}

.btn-buy-package {
  width: 100%;
  position: relative;
  border: 1px solid $vars-warning-500;
  border-radius: $vars-spacing-sm;
  background-image: linear-gradient(to left, #eeac46, #ffeda6);
  padding: $vars-spacing-sm;
  color: $vars-warning-1000;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  @include txt-font-semibold;
  &:hover {
    &::after {
      max-width: 100%;
      opacity: 1;
    }
  }

  span {
    z-index: 1;
    position: relative;
  }
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    inset: 0;
    border-radius: $vars-spacing-sm;
    opacity: 0;
    max-width: 0;
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #eeac46, #ffeda6);
  }
}
