@use "../global" as *;

.cts-sso-btn {
  width: 100%;
  padding: $vars-space-normal;
  border-radius: $vars-space-xs;
  background-color: $vars-grey-1000;
  color: $vars-white-color;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 1rem;
  border: none;
  &[disabled],
  &.disabled {
    box-shadow: 0px 1px 1px 0px #0000001f;
    box-shadow: 0px 0px 0px 1px #676e7629;
    box-shadow: 0px 2px 5px 0px #676e7614;
    color: $vars-grey-50;
    cursor: not-allowed;
    background-color: rgba(26, 29, 31, 0.3);
  }
}

.btn-social-login {
  width: fit-content;
  flex-grow: 1;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 0.875rem;
  border: 1px solid $vars-grey-200;
  border-radius: $vars-space-xs;
  padding: $vars-space-xs;
  background-color: $vars-white-color;
}

.goPlay-btn {
  width: 100%;
  max-width: 245px;
  padding: $vars-space-normal;
  border-radius: $vars-space-xs;
  background-color: $vars-grey-50;
  color: $vars-grey-1000;
  text-align: center;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include display-flex-center;
  gap: 0.5rem;
  @include txt-font-semibold;
  font-size: 18px;
  @include res-responsive(md) {
    font-size: 14px;
  }
  &--red {
    background-color: $vars-error-700;
    color: $vars-white-color;
    &:hover {
      background-color: $vars-error-700-opacity-75 !important;
    }
    img {
      width: 18px;
      @include res-responsive(md) {
        width: 14px;
      }
    }
  }

  &:hover {
    background-color: $vars-grey-1000;
    color: $vars-white-color;
  }
}

.btn-loadmore {
  width: fit-content;
  min-width: 105px;
  padding: $vars-space-xs $vars-space-normal;
  border-radius: $vars-space-xs;
  @include txt-font-semibold;
  border: 2px solid $vars-grey-200;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    border: 2px solid $vars-grey-1000;
    background-color: $vars-grey-1000;
    color: $vars-white-color;
  }
}
