// _card.scss

@use "../global" as *;

.goPlay-package {
  width: 100%;
  @include display-flex-layout(
    column,
    nowrap,
    center,
    center,
    $vars-spacing-normal
  );
  background-color: $vars-warning-100;
  padding: $vars-spacing-normal;
  border-radius: $vars-spacing-sm;
  border: 2px solid $vars-warning-300;
  position: relative;
  max-width: 296px;
  margin: 0 auto;
  &.selected {
    border: 2px solid $vars-grey-1000;
  }
  input {
    display: none;
  }
  &:has(input[checked]) {
    border: 4px solid $vars-grey-1000;
  }
  .package-header {
    width: 100%;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-normal
    );
  }

  .package-body {
    width: 100%;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-normal
    );
    .package-img {
      width: auto;
      height: 72px;
      @include display-flex-layout(
        column,
        nowrap,
        center,
        center,
        $vars-spacing-normal
      );
      img {
        min-height: 40px;
        object-fit: contain;
      }
    }

    .package-title {
      font-size: 18px;
      @include txt-font-bold;
      @include res-responsive(md) {
        font-size: 16px;
      }
    }
  }

  .package-footer {
    width: 100%;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-normal
    );
  }

  .package-over {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    img {
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }

  &.goPlay-package-style2 {
    border-color: #d9c7aa;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
    background-color: #f1e9e0;
    padding-top: 4px;

    .package-header {
      margin: 0 auto;
      background-color: #5e44441a;
      padding: 4px $vars-spacing-xs;
      text-align: center;
      font-size: 10px;
      color: $vars-warning-1000;
      border-radius: $vars-spacing-xs;
      @include txt-font-semibold;
    }

    .package-body {
      gap: $vars-spacing-lg;
      .package-img {
        height: 60px;
        img {
          min-height: 60px;
        }
      }
      .package-title {
        color: $vars-warning-1000;
      }
    }

    &.selected {
      border: 2px solid $vars-grey-1000;
      background-color: $vars-white-color;
    }
  }
}
