// _typography.scss
@use "../abstracts/variables" as *;
@mixin font-bold {
  font-family: "Inter-Bold";
  font-weight: bold;
}

@mixin font-semibold {
  font-family: "Inter-SemiBold";
  font-weight: 600;
}
@mixin font-medium {
  font-family: "Inter-Medium";
  font-weight: 500;
}

@mixin max-line($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-lightblue {
  color: $blue-700;
}

.text-lighterror {
  color: $error-600;
}

.text-bold {
  @include font-bold;
}

