// _mixins.scss
@use "./_variables" as *;

@mixin box-lg {
  border: 1px solid $grey-200;
  border-radius: $spacing-lg;
  padding: $spacing-xl;
  background-color: $white-color;
}

@mixin box-normal {
  border: 1px solid $grey-200;
  border-radius: $spacing-sm;
  padding: $spacing-normal $spacing-lg;
  background-color: $grey-50;
}
