$bg-color-main: #fff;
$text-color-main: #1a1d1f;
$white-color: #ffffff;
$black-color: #000000;
$green-primary: #4f6a46;

$black-opacity-60: #00000099;

$grey-1000: #1a1d1f;
$grey-800: #383f45;
$grey-600: #596066;
$grey-500: #676e76;
$grey-400: #9ea5ad;
$grey-300: #ced2d6;
$grey-200: #e5e7ea;
$grey-100: #f6f7f9;
$grey-50: #fafafa;

// Neutral
$neutral-20: #d9ddea;

//Blue
$blue-700: rgba(34, 154, 214, 1);

//Error-red
$error-600: #f34141;
$error-700: #cd3636;
$error-700-opacity-75: rgba(205, 54, 54, 0.75);
$error-700-opacity-50: rgba(205, 54, 54, 0.5);
$error-200: #fde9e9;
$error-100: #fef2f2;

//Warning Color
$warning-1000: #78310b;
$warning-500: #fbbc55;
$warning-300: #fde57e;
$warning-200: #fbf2cb;
$warning-100: #fefaf5;

//Black
$black-opacity-30: rgba(0, 0, 0, 0.3);

//Spacing
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-normal: 16px;
$spacing-md: 20px;
$spacing-lg: 24px;
$spacing-xl: 32px;
