$bg-color-main: #fff;
$text-color-main: #1a1d1f;
$white-color: #ffffff;
$black-color: #000000;
$green-primary: #4f6a46;

$black-opacity-60: #00000099;

$grey-1000: #1a1d1f;
$grey-600: #596066;
$grey-500: #676E76;
$grey-400: #9ea5ad;
$grey-300: #CED2D6;
$grey-200: #e5e7ea;
$grey-50: #fafafa;

//Blue
$blue-700: rgba(34, 154, 214, 1);

//Error-red
$error-600: #f34141;
$error-700: #cd3636;
$error-700-opacity-75: rgba(205, 54, 54, 0.75);
$error-100: #FEF2F2;

//Spacing
$space-xs: 8px;
$space-sm: 12px;
$space-normal: 16px;
$space-md: 20px;
$space-lg: 24px;
$space-xl: 32px;

//TextSize
$text-xs: 8px;
$text-sm: 12px;
$text-normal: 16px;
$text-lg: 24px;
$text-xl: 32px;
