// _footer.scss
@use "../global" as *;

.goPlay-footer {
  width: 100%;
  background-color: $vars-grey-1000;
  padding: 4%;
  font-size: 14px;
  position: relative;
  @include res-responsive(sm) {
    padding: 12% 8%;
  }
  .footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    @include display-grid-cols(4, 6%);
    @include res-responsive(xl) {
      @include display-grid-cols(3, $vars-spacing-lg);
    }
    @include res-responsive(sm) {
      @include display-grid-cols(1, $vars-spacing-lg);
    }
  }
  .footer-col {
    color: $vars-grey-400;
    h4 {
      color: $vars-white-color;
      @include txt-font-bold;
      margin-bottom: $vars-spacing-normal;
    }
    ul {
      list-style: none;
      font-weight: 500;
      li {
        margin-bottom: $vars-spacing-normal;
        @include res-responsive(sm) {
          margin-bottom: $vars-spacing-sm;
        }
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: $vars-grey-300;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: $vars-white-color;
          }
        }
      }
    }

    &.company-info {
      word-spacing: 1px;
      @include res-responsive(sm) {
        grid-column: 1 !important;
      }
      @include display-flex-layout(
        column,
        nowrap,
        center,
        start,
        $vars-spacing-normal
      );
      img {
        height: $vars-spacing-xl;
      }
    }
  }
  .scroll-to-top {
    width: fit-content;
    background-color: $vars-white-color;
    padding: $vars-spacing-sm $vars-spacing-md;
    border-radius: $vars-spacing-sm;
    position: absolute;
    top: 4%;
    right: 4%;
    cursor: pointer;
    @include res-responsive(xl) {
      top: 0%;
      right: 0%;
      padding: $vars-spacing-sm;
    }
    @include res-responsive(md) {
      top: unset;
      bottom: 0%;
      right: 0%;
      padding: $vars-spacing-sm;
      @include res-responsive(sm) {
        top: 0%;
        bottom: unset;
        right: 0%;
        padding: $vars-spacing-sm;
      }
    }
  }
}
