// _header.scss
@use "../global" as *;

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.goPlay-header {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: $vars-white-color;
  .goPlay-header-mobile {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    display: none;
    @media (min-width: 768px) {
      display: none !important;
    }

    .goPlay-header-mobile-container {
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
      background-color: $vars-white-color;
      padding: $vars-spacing-lg;
      .goPlay-auth {
        @include display-flex-layout(
          column,
          nowrap,
          center,
          center,
          $vars-spacing-normal
        );
      }
      .userInfo {
        display: none;
      }
      .userInforDetail {
        display: block !important;
        width: 100%;
        max-width: 480px;
        margin: 0 auto $vars-spacing-normal;
        position: relative;
        right: 0;
        margin-bottom: 1rem;
        min-width: unset;
      }
    }

    .goPlay-menu {
      ul {
        list-style: none;
        @include display-flex-layout(
          column,
          nowrap,
          end,
          end,
          $vars-spacing-normal
        );
        li {
          border-bottom: 3px solid transparent;
          min-width: 82px;
          text-align: center;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          a {
            @include txt-font-medium;
            color: $vars-grey-1000;
            transition: all 0.3s ease-in-out;
            &:hover {
              @include txt-font-bold;
            }
          }
        }
      }
    }
  }
  .header-container {
    width: 100%;
    max-width: 1920px;
    position: relative;
    @include display-flex-layout(
      row,
      nowrap,
      space-between,
      center,
      $vars-spacing-normal
    );
    padding: 0 $vars-spacing-normal;
    @include res-responsive(md) {
      padding: $vars-spacing-normal;
    }
  }
  .userInfo {
    width: fit-content;
    @include display-flex-layout(row, nowrap, center, center, $vars-spacing-sm);
    &--avatar {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &--show {
      cursor: pointer;
    }
  }

  .userInforDetail {
    position: absolute;
    top: 100%;
    right: $vars-spacing-normal;
    background-color: $vars-white-color;
    padding: $vars-spacing-lg;
    border-radius: $vars-spacing-sm;
    border: 1px solid $vars-grey-200;
    min-width: 360px;
    display: none;
    &--wrapper {
      width: 100%;
      @include display-flex-layout(
        column,
        nowrap,
        start,
        start,
        $vars-spacing-sm
      );
    }
    .account-wrapper {
      @include display-flex-layout(
        row,
        nowrap,
        start,
        center,
        $vars-spacing-normal
      );
    }
    .account-avt {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .account-info {
      @include display-flex-layout(
        column,
        nowrap,
        start,
        start,
        $vars-spacing-xs
      );
      h5 {
        @include txt-font-bold;
        font-size: $vars-spacing-md;
      }
      p {
        @include txt-font-medium;
      }
    }
    .go-coin {
      width: 100%;
      @include display-flex-layout(
        row,
        nowrap,
        space-between,
        center,
        $vars-spacing-xs
      );
      border-radius: $vars-spacing-normal;
      background-color: $vars-error-100;
      padding: $vars-spacing-md $vars-spacing-normal;
    }

    .total-coin {
      flex: 1;
      @include display-flex-layout(row, nowrap, end, center, $vars-spacing-xs);
      span {
        @include txt-font-bold;
      }
    }
    .account-action {
      ul {
        list-style: none;
        li {
          padding: $vars-spacing-sm $vars-spacing-normal;

          a {
            color: $vars-grey-1000;
            @include txt-font-bold;
          }
        }
      }
    }
  }
  .goPlay-links {
    height: 100%;
    @include res-responsive(md) {
      flex: 1;
    }
    @include display-flex-layout(
      row,
      nowrap,
      space-between,
      center,
      $vars-spacing-normal
    );
    .goPlay-logo {
      margin-right: $vars-spacing-lg;
    }
    .goPlay-menu {
      display: block;
      @include res-responsive(md) {
        display: none;
      }
      ul {
        list-style: none;
        margin-bottom: 0;
        @include display-flex-layout(
          row,
          nowrap,
          space-between,
          center,
          $vars-spacing-normal
        );
        li {
          padding: $vars-spacing-lg 0;
          border-bottom: 3px solid transparent;
          min-width: 82px;
          text-align: center;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
           margin-bottom: 0;
          &:hover {
            border-bottom: 3px solid $vars-error-600;
            a {
              @include txt-font-bold;
            }
          }
          a {
            @include txt-font-medium;
            color: $vars-grey-1000;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .goPlay-auth {
    @include display-flex-layout(
      row,
      nowrap,
      center,
      center,
      $vars-spacing-normal
    );
    @include res-responsive(md) {
      display: none;
    }
  }
  .cts-menu-sm {
    font-size: $vars-spacing-xl;
    display: none;
    @include res-responsive(md) {
      display: block;
    }
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}
