.text-lightblue {
  color: rgb(34, 154, 214);
}

.text-lighterror {
  color: #f34141;
}

.text-bold {
  font-family: "Inter-Bold";
  font-weight: bold;
}

.cts-sso-btn {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background-color: #1a1d1f;
  color: #ffffff;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.cts-sso-btn[disabled], .cts-sso-btn.disabled {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 0px 0px 1px rgba(103, 110, 118, 0.1607843137);
  box-shadow: 0px 2px 5px 0px rgba(103, 110, 118, 0.0784313725);
  color: #fafafa;
  cursor: not-allowed;
  background-color: rgba(26, 29, 31, 0.3);
}

.btn-social-login {
  width: fit-content;
  flex-grow: 1;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 0.875rem;
  border: 1px solid #e5e7ea;
  border-radius: 8px;
  padding: 8px;
  background-color: #ffffff;
}

.goPlay-btn, .btn-auth {
  width: 100%;
  max-width: 245px;
  padding: 16px;
  border-radius: 8px;
  background-color: #fafafa;
  color: #1a1d1f;
  text-align: center;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Inter-SemiBold";
  font-weight: 600;
}
@media (max-width: 768px) {
  .goPlay-btn, .btn-auth {
    font-size: 14px;
  }
}
.goPlay-btn--red {
  background-color: #cd3636;
  color: #ffffff;
}
.goPlay-btn--red:hover {
  background-color: rgba(205, 54, 54, 0.75) !important;
}
.goPlay-btn--red img {
  width: 18px;
}
@media (max-width: 768px) {
  .goPlay-btn--red img {
    width: 14px;
  }
}
.goPlay-btn:hover, .btn-auth:hover {
  background-color: #1a1d1f;
  color: #ffffff;
}

.btn-auth {
  padding: 8px 16px;
  background-color: #1a1d1f;
  color: #ffffff;
}
.btn-auth:hover {
  background-color: #e5e7ea;
  color: #1a1d1f;
}

.btn-loadmore {
  width: fit-content;
  min-width: 105px;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: "Inter-SemiBold";
  font-weight: 600;
  border: 2px solid #e5e7ea;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 16px;
}
@media (max-width: 768px) {
  .btn-loadmore {
    font-size: 12px;
  }
}
.btn-loadmore:hover {
  border: 2px solid #1a1d1f;
  background-color: #1a1d1f;
  color: #ffffff;
}

.btn-comming-soon {
  border: 1px solid #676E76;
  border-radius: 16px;
  padding: 8px 24px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.btn-comming-soon:hover {
  background-color: #fafafa;
  color: #1a1d1f;
}

.game-card {
  width: 100%;
  max-width: 333px;
}
.game-card .game-card-inner {
  position: relative;
  border-radius: 16px;
  margin-bottom: 12px;
}
.game-card .game-card-inner:hover .game-card-back {
  display: flex;
}
.game-card .game-card-front {
  position: relative;
}
.game-card .game-card-front .game-thumb {
  width: 100%;
}
.game-card .game-card-front .game-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 333/412;
  border-radius: 16px;
  display: block;
}
.game-card .game-card-front .game-tags {
  position: absolute;
  top: 0;
  right: 0;
}
.game-card .game-card-front .game-tags .tag {
  width: fit-content;
  padding: 8px 16px;
  border-radius: 8px 16px;
  color: #ffffff;
  float: right;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Inter-Bold";
  font-weight: bold;
}
@media (max-width: 768px) {
  .game-card .game-card-front .game-tags .tag {
    font-size: 10px;
  }
}
.game-card .game-card-front .game-tags .tag--new {
  background-color: #cd3636;
}
.game-card .game-card-front .game-tags .tag--upcoming {
  background-color: #1a1d1f;
}
.game-card .game-card-back {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  position: absolute;
  inset: 0;
  display: none;
  transition: all 0.5s ease-in-out;
}
.game-card .game-card-info .game-name {
  font-family: "Inter-Bold";
  font-weight: bold;
  font-size: 18px;
  color: #1a1d1f;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .game-card .game-card-info .game-name {
    font-size: 16px;
    margin-bottom: 0;
  }
}
.game-card .game-card-info .game-type {
  font-size: 14px;
  color: #596066;
}

.cts-section {
  width: 100%;
  padding: 16px;
  margin-bottom: 4%;
}
@media (max-width: 768px) {
  .cts-section {
    margin-bottom: 8%;
  }
}
.cts-section:last-child {
  margin-bottom: 0;
}
.cts-section .cts-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.cts-section--header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.cts-section--header .section-title {
  font-family: "Inter-Bold";
  font-weight: bold;
}
.cts-section--body .lst-game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media (max-width: 768px) {
  .cts-section--body .lst-game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
.cts-section--body .lst-news-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
@media (max-width: 768px) {
  .cts-section--body .lst-news-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .cts-section--body .lst-news-container .news-featured {
    grid-column: span 2 !important;
    grid-row: span 1 !important;
    aspect-ratio: 568/229;
  }
  .cts-section--body .lst-news-container .news-related {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
    grid-row: auto;
  }
}
@media (max-width: 576px) {
  .cts-section--body .lst-news-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .cts-section--body .lst-news-container .news-featured,
  .cts-section--body .lst-news-container .news-related {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
    aspect-ratio: 16/9;
  }
}
.cts-section--body .lst-news-container .news-featured {
  grid-column: span 3;
  grid-row: span 2;
}
.cts-section--body .lst-news-container .news-related {
  grid-column: span 2;
  aspect-ratio: 568/229;
}
.cts-section--body .lst-news-container .news-related.news-card .news-card-inner .news-card-image img {
  max-width: 70px;
  aspect-ratio: 70/94;
}
.cts-section--body .lst-news-container .news-related.news-card .news-card-inner .news-card-info .news-title {
  font-size: 16px;
}
.cts-section--body .lst-news-container .news-related.news-card .news-card-inner .news-card-info .news-posted,
.cts-section--body .lst-news-container .news-related.news-card .news-card-inner .news-card-info .news-desc {
  display: none;
}
.cts-section.goPlay-infor {
  background: url("../../assets/images/bg_goPlay_infor.png") center/cover no-repeat;
  padding: 6% 1rem;
  margin-bottom: 0;
}
.cts-section.goPlay-infor .cts-container {
  max-width: 1000px;
}
.cts-section.goPlay-infor .cts-section--header {
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.cts-section.goPlay-infor .cts-section--header .section-title {
  font-size: 4rem;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .cts-section.goPlay-infor .cts-section--header .section-title {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }
}
@media (max-width: 576px) {
  .cts-section.goPlay-infor .cts-section--header .section-title {
    font-size: 32px;
    margin-bottom: 8px;
  }
}
.cts-section.goPlay-infor .cts-section--header .section-desc {
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .cts-section.goPlay-infor .cts-section--header .section-desc {
    font-size: 16px;
  }
}

.news-card {
  width: 100%;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.news-card:hover {
  transform: translateY(-5px);
}
.news-card .news-card-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: end;
  gap: 0;
}
.news-card .news-card-inner .news-card-image img {
  width: 100%;
  max-width: 136px;
  aspect-ratio: 136/182;
  border-radius: 0 16px;
  object-fit: cover;
  display: block;
}
@media (max-width: 768px) {
  .news-card .news-card-inner .news-card-image img {
    border-radius: 16px;
  }
}
.news-card .news-card-inner .news-card-info {
  flex: 1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 0.375rem;
  padding: 24px 16px;
  font-size: 18px;
}
.news-card .news-card-inner .news-card-info .news-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Inter-Bold";
  font-weight: bold;
}
@media (max-width: 768px) {
  .news-card .news-card-inner .news-card-info .news-title {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .news-card .news-card-inner .news-card-info .news-posted {
    font-size: 14px;
  }
}
.news-card .news-card-inner .news-card-info .news-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 768px) {
  .news-card .news-card-inner .news-card-info .news-desc {
    font-size: 14px;
  }
}

.box-with-shadow {
  position: relative;
  width: 110px;
  transform: translateY(-50%);
}
.box-with-shadow img {
  width: fit-content;
  object-fit: contain;
}
.box-with-shadow::before {
  position: absolute;
  right: 50%;
  bottom: -15%;
  transform: translateX(50%);
  content: "";
  width: 82%;
  height: 15px;
  background-color: red;
  aspect-ratio: 3/1;
  border-radius: 50%;
  background-color: #000000;
  opacity: 40%;
  backdrop-filter: blur(4px);
}

.services-goPlay {
  width: 100%;
  height: fit-content;
  position: relative;
  max-width: 384px;
  margin: 0 auto;
  background: linear-gradient(180deg, #505158 0%, #151515 100%);
  border-radius: 16px;
  padding: 0 24px 16%;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
@media (max-width: 768px) {
  .services-goPlay {
    padding: 0 16px 16%;
  }
}
@media (max-width: 576px) {
  .services-goPlay {
    padding: 0 24px 16%;
  }
}
.services-goPlay--header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.services-goPlay--body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.services-goPlay--body h3 {
  font-family: "Inter-Bold";
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}
.services-goPlay--body p {
  color: #9ea5ad;
  min-height: 4rem;
}
.services-goPlay--footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.services-goPlay.isCenter .services-goPlay--header .box-with-shadow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 10% 2rem 0;
  transform: translateY(0);
  width: 100%;
  background: url("../../assets/images/ic_crown_decor.png") center/contain no-repeat;
}
.services-goPlay.isCenter .services-goPlay--header .box-with-shadow img {
  width: fit-content;
  transform: translateY(-75%);
  object-fit: contain;
}
.services-goPlay.isCenter .services-goPlay--header .box-with-shadow::before {
  display: none;
}

.lst-services-goPlay {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  align-items: end;
  padding-top: 10%;
}
@media (max-width: 768px) {
  .lst-services-goPlay {
    padding-top: 20%;
    grid-template-columns: repeat(1, 1fr);
  }
}

a {
  color: #1a1d1f;
  text-decoration: none;
  font-family: "Inter-Bold";
  font-weight: bold;
}

.ssoPages {
  width: 100%;
  min-height: 100vh;
  background: url("../images/bg_sso_page.webp") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.ssoPages.ssoFullPage .ssoPage-form {
  max-width: 620px;
}

.ssoPage-content {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  gap: 0;
  gap: 1rem;
}
.ssoPage-content .ssoPage-logo {
  margin: 4% 12px;
}
.ssoPage-content .ssoPage-logo img {
  max-width: 200px;
  height: auto;
}
.ssoPage-content .lstQuickLoginMethod {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.ssoPage-content .ssoPage--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.ssoPage-content .ssoPage--body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.ssoPage-content .ssoPage--footer {
  width: 100%;
}
.ssoPage-content .ssoPage--footer .text-warning {
  border-top: 1px solid #e5e7ea;
  padding-top: 24px;
}
.ssoPage-content .ssoPage--footer .text-warning p {
  font-size: 14px;
}
.ssoPage-content .ssoPage--footer .text-warning p span {
  font-family: "Inter-Bold";
  font-weight: bold;
}
.ssoPage-content .ssoPage--footer .text-warning a {
  color: rgb(34, 154, 214);
  text-decoration: underline;
}
.ssoPage-content .ssoPage-form {
  width: 100%;
  max-width: 480px;
  border: 1px solid #e5e7ea;
  border-radius: 24px;
  padding: 32px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ssoPage-content .ssoPage-form .box-title {
  width: 100%;
  text-align: center;
  font-size: 32px;
  padding: 8px 0;
}
.ssoPage-content .login-option {
  width: 100%;
  border: 1px solid #e5e7ea;
  border-radius: 12px;
  padding: 16px 24px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.ssoPage-content .login-option.isFitContent {
  width: fit-content;
}
.ssoPage-content .login-option .login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.ssoPage-content .login-option .cts-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ssoPage-content .login-option .cts-form-group label {
  font-family: "Inter-Bold";
  font-weight: bold;
  margin-bottom: 8px;
  color: #1a1d1f;
}
.ssoPage-content .login-option .cts-form-group .input-wrapper {
  width: 100%;
  position: relative;
}
.ssoPage-content .login-option .cts-form-group .input-wrapper .fixed-icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}
.ssoPage-content .login-option .cts-form-group .input-wrapper .fixed-icon.clear-btn {
  display: none;
}
.ssoPage-content .login-option .cts-form-group .input-wrapper .fixed-icon .fa-eye-slash {
  display: none;
}
.ssoPage-content .login-option .cts-form-group .input-wrapper input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e5e7ea;
  padding: 12px 32px 12px 8px;
  box-shadow: 0px 0px 0px 1px #cdd1dc;
  color: #1a1d1f;
  font-size: 16px;
}
.ssoPage-content .login-option .cts-form-group .input-wrapper input:active, .ssoPage-content .login-option .cts-form-group .input-wrapper input:focus {
  outline: none;
}
.ssoPage-content .login-option .cts-form-group .input-wrapper input::placeholder {
  color: #9ea5ad;
}
.ssoPage-content .login-option .cts-form-group .input-wrapper input.isError {
  border-color: #f34141;
  box-shadow: none;
}
.ssoPage-content .login-option .cts-form-group .error-message {
  margin-top: 0.25rem;
  color: #f34141;
  font-size: 14px;
}
.ssoPage-content .login-option .allow-privacy {
  font-size: 14px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.ssoPage-content .login-option .forgot-password {
  width: 100%;
  text-align: right;
}
.ssoPage-content .login-option .forgot-password a {
  font-weight: normal;
}
.ssoPage-content .login-option.dont-have-account, .ssoPage-content .login-option.have-account {
  flex-direction: row;
  gap: 0.25rem;
}
.ssoPage-content .qr-code-sms {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
.ssoPage-content .qr-code-sms .qr-code-img {
  width: 100%;
  max-width: 186px;
  border: 1px solid #1a1d1f;
  border-radius: 12px;
  padding: 8px;
}
.ssoPage-content .qr-code-sms .qr-code-img img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.ssoPage-content .resend-otp a {
  color: rgb(34, 154, 214);
  text-decoration: underline;
}
.ssoPage-content .timer-expired {
  color: #f34141;
}

.otp-code-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}
.otp-code-container .otp-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.otp-code-container .otp-wrapper input {
  max-width: 48px;
  aspect-ratio: 1/1;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #1a1d1f;
  font-size: 24px;
  font-family: "Inter-Bold";
  font-weight: bold;
}
.otp-code-container .otp-wrapper input:focus, .otp-code-container .otp-wrapper input:active {
  outline: none;
}
.otp-code-container .otp-wrapper input.no-caret {
  caret-color: transparent;
}
.otp-code-container.isError input {
  color: #f34141;
  border-bottom: 2px solid #f34141;
}

.goPlay-footer {
  width: 100%;
  background-color: #1a1d1f;
  padding: 4%;
  font-size: 14px;
}
@media (max-width: 576px) {
  .goPlay-footer {
    padding: 12% 8%;
  }
}
.goPlay-footer .footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6%;
}
@media (max-width: 1200px) {
  .goPlay-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6%;
  }
}
@media (max-width: 576px) {
  .goPlay-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6%;
  }
}
.goPlay-footer .footer-col {
  color: #9ea5ad;
}
.goPlay-footer .footer-col h4 {
  color: #ffffff;
  font-family: "Inter-Bold";
  font-weight: bold;
  margin-bottom: 16px;
}
.goPlay-footer .footer-col ul {
  list-style: none;
  font-weight: 500;
}
.goPlay-footer .footer-col ul li {
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .goPlay-footer .footer-col ul li {
    margin-bottom: 12px;
  }
}
.goPlay-footer .footer-col ul li:last-child {
  margin-bottom: 0;
}
.goPlay-footer .footer-col ul li a {
  color: #CED2D6;
  transition: color 0.3s ease-in-out;
}
.goPlay-footer .footer-col ul li a:hover {
  color: #ffffff;
}
.goPlay-footer .footer-col.company-info {
  word-spacing: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 16px;
}
@media (max-width: 576px) {
  .goPlay-footer .footer-col.company-info {
    grid-column: span 2 !important;
  }
}
.goPlay-footer .footer-col.company-info img {
  height: 32px;
}

.goPlay-header {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.goPlay-header .goPlay-header-mobile {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
  display: none;
}
.goPlay-header .goPlay-header-mobile .goPlay-header-mobile-container {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 24px;
}
.goPlay-header .goPlay-header-mobile .goPlay-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: end;
  gap: 16px;
}
.goPlay-header .header-container {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
}
@media (max-width: 768px) {
  .goPlay-header .header-container {
    padding: 16px;
    position: relative;
  }
}
.goPlay-header .goPlay-links {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  .goPlay-header .goPlay-links {
    flex: 1;
  }
}
.goPlay-header .goPlay-links .goPlay-logo {
  margin-right: 24px;
}
.goPlay-header .goPlay-links .goPlay-menu {
  display: block;
}
@media (max-width: 768px) {
  .goPlay-header .goPlay-links .goPlay-menu {
    display: none;
  }
}
.goPlay-header .goPlay-links .goPlay-menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.goPlay-header .goPlay-links .goPlay-menu ul li {
  padding: 24px 0;
  border-bottom: 3px solid transparent;
  min-width: 82px;
  text-align: center;
}
.goPlay-header .goPlay-links .goPlay-menu ul li:hover {
  border-bottom: 3px solid #f34141;
}
.goPlay-header .goPlay-links .goPlay-menu ul li:hover {
  font-family: "Inter-Bold";
  font-weight: bold;
}
.goPlay-header .goPlay-auth {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.goPlay-header .cts-menu-sm {
  font-size: 32px;
  display: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 768px) {
  .goPlay-header .cts-menu-sm {
    display: block;
  }
}
