@use "../global" as *;

.box-child {
  width: 100%;
  margin-bottom: 4%;
  @include display-flex-layout(
    column,
    nowrap,
    center,
    center,
    $vars-spacing-sm
  );
  @include res-responsive(lg) {
    margin-bottom: 6%;
  }

  @include res-responsive(md) {
    margin-bottom: 8%;
  }
  a {
    border: none;
    background-color: transparent;
    color: $vars-blue-700;
  }
  &-header {
    width: 100%;
    h3 {
      font-size: 18px;
      @include txt-font-bold;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
      font-size: 14px;
    }
    span {
      color: $vars-error-600;
      font-size: 14px;
    }
  }
  &-content {
    width: 100%;
    padding: $vars-spacing-normal $vars-spacing-lg;
  }
}

.ic-small {
  width: 16px;
  height: auto;
}

.character-info {
  .info-group {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
    display: flex;
    align-items: center;
    gap: 0.5rem;
    p {
      flex: 0 0 12vw;
      @include res-responsive(lg) {
        flex: 0 0 25vw;
      }
      @include res-responsive(sm) {
        flex: 0 0 38vw;
      }
    }
    b {
      @include txt-font-bold;
    }
    img {
      height: 20px;
    }
    .total-coin {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}

.sel-package {
  .flex-between {
    @include res-responsive(md) {
      flex-direction: column;
      align-items: start;
    }
  }

  .lst-package-wrapper {
    width: 100%;
    @include display-grid-cols(3, $vars-spacing-normal);
    justify-items: center;
    @include res-responsive(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .box-child-content {
    padding: 0;
  }
}

.input-gocoin {
  .box-child-content {
    padding: 0;
  }
  .goPlay-btn {
    padding: $vars-spacing-xs;
    max-width: 168px;
  }
  .input-gocoin-wrapper {
    @include display-flex-center;
    padding: $vars-spacing-normal;
    gap: $vars-spacing-normal;
    @include res-responsive(sm) {
      flex-wrap: wrap;
    }
  }
}

.cts-input {
  width: 100%;
  position: relative;

  .fixed-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: $vars-spacing-sm;
    transform: translateY(-50%);
  }
  input {
    width: 100%;
    border-radius: $vars-spacing-xs;
    border: 1px solid $vars-grey-200;
    padding: $vars-spacing-sm;
    color: $vars-grey-1000;
    font-size: $txt-text-normal;
    &:active,
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $vars-grey-400;
      font-size: 14px;
    }
    &.isError {
      border-color: $vars-error-600;
      box-shadow: none;
    }
    &:disabled {
      background-color: $vars-grey-100;
    }
    &[data-name="bill-total"] {
      @include txt-font-bold;
      text-align: end;
    }
  }
  &--icon {
    input {
      padding: $vars-spacing-sm $vars-spacing-xl $vars-spacing-sm
        $vars-spacing-xs;
    }
  }
}

.section-billing {
  margin-top: 0;
  .cts-container {
    @include res-responsive(lg) {
      max-width: 640px;
    }
  }
  .cts-section--body {
    @include display-flex-layout(
      row,
      nowrap,
      space-between,
      start,
      $vars-spacing-normal
    );
    @include res-responsive(lg) {
      flex-direction: column;
    }
  }

  .select-option,
  .cts-section--footer {
    width: 60%;
    max-width: 840px;
    @include res-responsive(lg) {
      width: 100%;
    }
  }

  .order-info {
    width: 35%;
    max-width: 450px;
    position: sticky;
    top: 10vh;
    @include res-responsive(lg) {
      width: 100%;
      max-width: unset;
      position: relative;
      top: 0;
    }
  }
}

.order-item {
  width: 100%;
  padding: $vars-spacing-normal 0;
  border-top: 1px solid $vars-neutral-20;
  color: $vars-grey-1000;
  &:first-child {
    padding-top: $vars-spacing-xs;
    border-top: none;
  }
  &:last-child {
    padding-bottom: $vars-spacing-xs;
  }
  .vcoin-card {
    margin-bottom: $vars-spacing-md;
    .cts-input {
      margin: $vars-spacing-xs 0;
    }
  }
  .cart-empty {
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-sm
    );
    i {
      font-size: 48px;
      color: $vars-grey-200;
    }
    p {
      @include txt-font-medium;
    }
  }

  .order-product {
    .flex-between {
      margin-bottom: $vars-spacing-normal;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .payment-method {
    width: 100%;
    @include display-grid-cols(2, $vars-spacing-sm);
    margin-top: $vars-spacing-sm;
    @include res-responsive(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include res-responsive(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .order-actions {
    margin-top: $vars-spacing-normal;
    .goPlay-btn {
      max-width: unset;
    }
  }
}

.payment-item {
  border: 1px solid $vars-grey-300;
  border-radius: $vars-spacing-xs;
  padding: $vars-spacing-xs;
  @include display-flex-layout(row, nowrap, start, center, 4px);
  cursor: pointer;
  .payment-icon {
    img {
      height: 20px;
      width: auto;
      max-width: 48px;
      object-fit: contain;
    }
  }

  .payment-name {
    @include txt-font-medium;
    color: $vars-grey-1000;
  }

  &.selected,
  &.active {
    border-color: $vars-grey-1000;
    background-color: $vars-white-color !important;
  }
}

.billing-banner {
  width: 100%;
  position: relative;
  margin-bottom: $vars-spacing-normal;
  .banner-bg {
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1920/460;
      object-fit: cover;
      @include res-responsive(xxl) {
        aspect-ratio: 3/1;
      }

      @include res-responsive(xl) {
        aspect-ratio: 2/1;
      }
    }
  }

  .game-info {
    position: absolute;
    inset: 0;
    background: $vars-black-opacity-30;
    color: $vars-white-color;
    @include display-flex-layout(column, nowrap, center, center, 0);
    .game-cover {
      width: 20%;
      max-width: 115px;
      margin-bottom: $vars-spacing-normal;
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 115/148;
        object-fit: cover;
        border-radius: $vars-spacing-md;
      }
    }
    .game-name {
      font-size: $txt-text-lg;
      @include res-responsive(md) {
        font-size: $txt-text-normal;
      }
    }

    .page-name {
      font-size: 5vw;
      @include txt-font-bold;
      @include res-responsive(md) {
        font-size: 32px;
      }
    }
  }
}

.prod-label {
  @include txt-font-semibold;
  @include res-responsive(md) {
    font-size: 14px;
  }
}

.prod-value {
  @include display-flex-center;
  gap: 4px;
  @include res-responsive(md) {
    font-size: 14px;
  }
}

.total-amount {
  color: $vars-error-700;
  @include txt-font-bold;
  font-size: $txt-text-lg;
}

.scan-qr-code {
  .qr-code {
    width: 100%;
    @include display-flex-center;
    flex-direction: column;
    &--img {
      border: 1px solid $vars-grey-1000;
      border-radius: $vars-spacing-normal;
      padding: 4px;
      margin-bottom: $vars-spacing-normal;
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: $vars-spacing-normal;
      }
    }
    .save-qr-code {
      width: fit-content;
      @include txt-font-semibold;
      @include display-flex-center;
      border: none;
    }
  }
}

.payment-modal {
  padding: $vars-spacing-xl $vars-spacing-lg;
  @include display-flex-layout(
    column,
    nowrap,
    center,
    center,
    $vars-spacing-normal
  );

  .modal-title {
    width: 100%;
    text-align: center;
      @include display-flex-layout(
    column,
    nowrap,
    center,
    center,
    $vars-spacing-xs
  );
    @include res-responsive(md) {
      font-size: 16px;
    }
  }
  .modal-content {
    width: 100%;
    border-bottom: 1px dotted $vars-grey-300;
    // border-top: 1px dotted $vars-grey-300;
    padding: $vars-spacing-normal 0;
    text-align: center;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-normal
    );
  }

  .modal-extra {
    width: 100%;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-xs
    );
  }

  .box-warning {
    width: 100%;
    border-radius: $vars-spacing-normal;
    border: 1px dashed $vars-grey-300;
    padding: $vars-spacing-normal;
    color: $vars-grey-500;
    ul {
      list-style: none;
      li {
        margin-bottom: $vars-spacing-normal;
        padding-left: $vars-spacing-normal;
        position: relative;
        &::before {
          content: "▶";
          position: absolute;
          top: 10%;
          left: 0;
          font-size: 10px;
          color: $vars-grey-1000;
        }
        &:last-child {
          margin: 0;
        }

        @include res-responsive(md) {
          font-size: 14px;
          margin-bottom: $vars-spacing-xs;
        }
      }
    }
  }

  .title-base {
    @include txt-font-semibold;
    line-height: 1.5;
    word-spacing: 1px;
    font-size: 16px;
  }

  .bill-detail {
    width: 100%;
    padding: $vars-spacing-normal 0 0;
    border-top: 1px dotted $vars-grey-400;
    color: $vars-grey-600;
    font-size: 12px;
    span {
      color: $vars-grey-1000;
      @include txt-font-medium;
    }
    .flex-between {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.banking-instructions {
  width: 100%;
  gap: 0;

  .banking-nav {
    width: 100%;
    border-bottom: 1px dotted #ced2d6;
    padding: $vars-spacing-normal 0;
    .nav {
      border: none;
      justify-content: space-between;
      margin-top: $vars-spacing-xs;
      flex-wrap: nowrap;
      gap: $vars-spacing-xs;
      .nav-item {
        width: 100%;
        .payment-item {
          width: 100%;
          transition: all 0.3s ease;
          background-color: $vars-grey-100;
          justify-content: center;
          .payment-name {
            @include res-responsive(md) {
              font-size: 14px;
            }
            @include res-responsive(sm) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .modal-content {
    padding: 0;
    gap: 0;
    border-bottom: 0;
  }

  .banking-total {
    padding: $vars-spacing-normal 0;
  }

  .banking-content {
    width: 100%;
    border-bottom: 1px dotted #ced2d6;
    padding: $vars-spacing-normal 0;
    .tab-content {
      text-align: center;
      .tab-pane {
        margin: $vars-spacing-sm 0;
      }
      .text-note {
        @include res-responsive(md) {
          font-size: 14px;
        }

        @include res-responsive(sm) {
          font-size: 12px;
        }
      }
    }
  }
}

.bank-card {
  border: 1px solid black;
  box-shadow: 0px 4px 0px 0px black;
  border-radius: 28px;
  background-color: $vars-black-opacity-30;
  width: 100%;
  max-width: 420px;
  min-height: 212px;
  margin: 0 auto;
  padding: $vars-spacing-normal;
  color: $vars-grey-100;
  position: relative;
  overflow: hidden;
  word-spacing: 0.5px;
  &::after {
    width: 75%;
    content: "";
    position: absolute;
    inset: 0;
    background-color: $vars-white-color;
    border-radius: 28%;
    transform: translate(90%, -70%);
  }

  &::before {
    width: 100%;
    content: "";
    position: absolute;
    inset: 0;
    background-color: $vars-black-color;
    border-radius: 50%;
    opacity: 0.1;
    transform: translate(-35%, 50%);
  }

  &.style-1 {
    background: linear-gradient(167.6deg, #4e2ce4 -9.78%, #c46cff 107.04%);
    border: 1px solid #7b45da;
    box-shadow: 0px 4px 0px 0px #7b45da;
  }

  &.style-2 {
    background: linear-gradient(167.6deg, #2314ad -9.78%, #4c7fff 107.04%);
    border: 1px solid #2820b6;
    box-shadow: 0px 4px 0px 0px #2820b6;
  }

  &.style-3 {
    background: linear-gradient(167.6deg, #0a2b57 -9.78%, #32bdf0 107.04%);
    border: 1px solid #18618f;
    box-shadow: 0px 4px 0px 0px #18618f;
  }

  .bank-info {
    font-size: 12px;
    border-radius: 12px;
    background: #0000003d;
    padding: 6px 12px;
    margin-bottom: 0.5rem;
    @include display-flex-between;
    flex-wrap: wrap;
    text-align: start;
    gap: 0.5rem;
    line-height: 2;
    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      width: 100%;
      font-size: 12px;
      @include txt-font-bold;
      letter-spacing: 1px;
      &.account-number {
        font-size: 18px;
        @include res-responsive(md) {
          font-size: 14px;
        }
      }
    }
    p {
      width: 100%;
      opacity: 0.7;
    }
  }

  .bank-card-wrap {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .account-name {
    width: 100%;
    @include display-flex-between;
    gap: 1rem;
    align-items: start;
    margin-bottom: $vars-spacing-normal;
    text-align: start;
    font-size: 12px;
    padding-left: 12px;
    h3 {
      width: 100%;
      font-size: 12px;
      @include txt-font-medium;
    }
    p {
      width: 100%;
      line-height: 2;
      opacity: 0.7;
    }
    .bank-img {
      width: 30%;
      max-width: 86px;
      min-width: 64px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
