@use "../global" as *;

.box-child {
  width: 100%;
  margin-bottom: 4%;
  @include display-flex-layout(
    column,
    nowrap,
    center,
    center,
    $vars-spacing-sm
  );
  @include res-responsive(lg) {
    margin-bottom: 6%;
  }

  @include res-responsive(md) {
    margin-bottom: 8%;
  }
  a {
    border: none;
    background-color: transparent;
    color: $vars-blue-700;
  }
  &-header {
    width: 100%;
    h3 {
      font-size: 18px;
      @include txt-font-bold;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
      font-size: 14px;
    }
    span {
      color: $vars-error-600;
      font-size: 14px;
    }
  }
  &-content {
    width: 100%;
    padding: $vars-spacing-normal $vars-spacing-lg;
  }
}

.ic-small {
  width: 16px;
  height: auto;
}

.character-info {
  .info-group {
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    &:last-child {
      margin-bottom: 0;
    }
    align-items: center;
    gap: 0.5rem;
    &.flex-between {
      @include res-responsive(md) {
        flex-direction: column;
        align-items: start;
      }
    }
    b {
      @include txt-font-bold;
    }
    img {
      height: 20px;
    }
    .total-coin {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}

.sel-package {
  .flex-between {
    @include res-responsive(md) {
      flex-direction: column;
      align-items: start;
    }
  }

  .lst-package-wrapper {
    width: 100%;
    @include display-grid-cols(3, $vars-spacing-normal);
    justify-items: center;
    @include res-responsive(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .box-child-content {
    padding: 0;
  }
}

.input-gocoin {
  .box-child-content {
    padding: 0;
  }
  .goPlay-btn {
    padding: $vars-spacing-xs;
    max-width: 168px;
  }
  .input-gocoin-wrapper {
    @include display-flex-center;
    padding: $vars-spacing-normal;
    gap: $vars-spacing-normal;
    @include res-responsive(sm) {
      flex-wrap: wrap;
    }
  }
}

.goPlay-input {
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  input,
  select {
    border: 1px solid #ced2d6;
    background-color: white;
    border-radius: 8px;
    padding: 8px 12px;
  }
}

.cts-input {
  width: 100%;
  position: relative;

  .fixed-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: $vars-spacing-sm;
    transform: translateY(-50%);
  }
  input {
    width: 100%;
    border-radius: $vars-spacing-xs;
    border: 1px solid $vars-grey-200;
    padding: $vars-spacing-sm;
    color: $vars-grey-1000;
    font-size: $txt-text-normal;
    &:active,
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $vars-grey-400;
      font-size: 14px;
    }
    &.isError {
      border-color: $vars-error-600;
      box-shadow: none;
    }
    &:disabled {
      background-color: $vars-grey-100;
    }
    &[data-name="bill-total"] {
      @include txt-font-bold;
      text-align: end;
    }
  }
  &--icon {
    input {
      padding: $vars-spacing-sm $vars-spacing-xl $vars-spacing-sm
        $vars-spacing-xs;
    }
  }
}

.section-billing {
  margin-top: 0;
  .cts-container {
    @include res-responsive(lg) {
      max-width: 640px;
    }
  }
  .cts-section--body {
    @include display-flex-layout(
      row,
      nowrap,
      space-between,
      start,
      $vars-spacing-normal
    );
    @include res-responsive(lg) {
      flex-direction: column;
    }
  }

  .select-option,
  .cts-section--footer {
    width: 65%;
    max-width: 880px;
    @include res-responsive(lg) {
      width: 100%;
    }
  }

  .order-info {
    width: 35%;
    max-width: 450px;
    position: sticky;
    top: 10vh;
    @include res-responsive(lg) {
      width: 100%;
      max-width: unset;
      position: relative;
      top: 0;
    }
  }
}

.order-item {
  width: 100%;
  padding: $vars-spacing-normal 0;
  border-top: 1px solid $vars-neutral-20;
  color: $vars-grey-1000;
  &:first-child {
    padding-top: $vars-spacing-xs;
    border-top: none;
  }
  &:last-child {
    padding-bottom: $vars-spacing-xs;
  }
  .vcoin-card {
    margin-bottom: $vars-spacing-md;
    .cts-input {
      margin: $vars-spacing-xs 0;
    }
  }
  .cart-empty {
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-sm
    );
    i {
      font-size: 48px;
      color: $vars-grey-200;
    }
    p {
      @include txt-font-medium;
    }
  }

  .order-product {
    .flex-between {
      margin-bottom: $vars-spacing-normal;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .payment-method {
    width: 100%;
    @include display-grid-cols(2, $vars-spacing-sm);
    margin-top: $vars-spacing-sm;
    @include res-responsive(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include res-responsive(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .order-actions {
    margin-top: $vars-spacing-normal;
    .goPlay-btn {
      max-width: unset;
    }
  }
}

.payment-item {
  border: 1px solid $vars-grey-300;
  border-radius: $vars-spacing-xs;
  padding: $vars-spacing-xs;
  @include display-flex-layout(row, nowrap, start, center, 4px);
  cursor: pointer;
  .payment-icon {
    img {
      height: 20px;
      width: auto;
      max-width: 48px;
      object-fit: contain;
    }
  }

  .payment-name {
    @include txt-font-medium;
    color: $vars-grey-1000;
  }

  &.selected,
  &.active {
    border-color: $vars-grey-1000;
    background-color: $vars-white-color !important;
  }
}

.billing-banner {
  width: 100%;
  position: relative;
  margin-bottom: $vars-spacing-normal;
  .banner-bg {
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1920/460;
      object-fit: cover;
      @include res-responsive(xxl) {
        aspect-ratio: 3/1;
      }

      @include res-responsive(xl) {
        aspect-ratio: 2/1;
      }
    }
  }

  .game-info {
    position: absolute;
    inset: 0;
    background: $vars-black-opacity-30;
    color: $vars-white-color;
    @include display-flex-layout(column, nowrap, center, center, 0);
    .game-cover {
      width: 20%;
      max-width: 115px;
      margin-bottom: $vars-spacing-normal;
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 115/148;
        object-fit: cover;
        border-radius: $vars-spacing-md;
      }
    }
    .game-name {
      font-size: $txt-text-lg;
      @include res-responsive(md) {
        font-size: $txt-text-normal;
      }
    }

    .page-name {
      font-size: 5vw;
      @include txt-font-bold;
      @include res-responsive(md) {
        font-size: 32px;
      }
    }
  }
}

.prod-label {
  @include txt-font-semibold;
  @include res-responsive(md) {
    font-size: 14px;
  }
}

.prod-value {
  @include display-flex-center;
  gap: 4px;
  @include res-responsive(md) {
    font-size: 14px;
  }
}

.total-amount {
  color: $vars-error-700;
  @include txt-font-bold;
  font-size: $txt-text-lg;
}

.scan-qr-code {
  .qr-code {
    width: 100%;
    @include display-flex-center;
    flex-direction: column;
    &--img {
      border: 1px solid $vars-grey-1000;
      border-radius: $vars-spacing-normal;
      padding: 4px;
      margin-bottom: $vars-spacing-normal;
      min-width: 180px;
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: $vars-spacing-normal;
      }
    }
    .save-qr-code {
      width: fit-content;
      @include txt-font-semibold;
      @include display-flex-center;
      border: none;
    }
  }
}

.payment-modal {
  padding: $vars-spacing-xl $vars-spacing-lg;
  @include display-flex-layout(
    column,
    nowrap,
    center,
    center,
    $vars-spacing-normal
  );

  .modal-title {
    width: 100%;
    text-align: center;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-xs
    );
    @include res-responsive(md) {
      font-size: 16px;
    }
  }
  .modal-content {
    width: 100%;
    border-bottom: 1px dotted $vars-grey-300;
    // border-top: 1px dotted $vars-grey-300;
    padding: $vars-spacing-normal 0;
    text-align: center;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-normal
    );
  }

  .modal-extra {
    width: 100%;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-xs
    );
  }

  .box-warning {
    width: 100%;
    border-radius: $vars-spacing-normal;
    border: 1px dashed $vars-grey-300;
    padding: $vars-spacing-normal;
    color: $vars-grey-500;
    ul {
      list-style: none;
      li {
        margin-bottom: $vars-spacing-normal;
        padding-left: $vars-spacing-normal;
        position: relative;
        &::before {
          content: "▶";
          position: absolute;
          top: 10%;
          left: 0;
          font-size: 10px;
          color: $vars-grey-1000;
        }
        &:last-child {
          margin: 0;
        }

        @include res-responsive(md) {
          font-size: 14px;
          margin-bottom: $vars-spacing-xs;
        }
      }
    }
  }

  .title-base {
    @include txt-font-semibold;
    line-height: 1.5;
    word-spacing: 1px;
    font-size: 16px;
  }

  .bill-detail {
    width: 100%;
    padding: $vars-spacing-normal 0 0;
    border-top: 1px dotted $vars-grey-400;
    color: $vars-grey-600;
    font-size: 12px;
    span {
      color: $vars-grey-1000;
      @include txt-font-medium;
    }
    .flex-between {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.banking-instructions {
  width: 100%;
  gap: 0;

  .banking-nav {
    width: 100%;
    border-bottom: 1px dotted #ced2d6;
    padding: $vars-spacing-normal 0;
    .nav {
      border: none;
      justify-content: space-between;
      margin-top: $vars-spacing-xs;
      flex-wrap: nowrap;
      gap: $vars-spacing-xs;
      .nav-item {
        width: 100%;
        .payment-item {
          width: 100%;
          transition: all 0.3s ease;
          background-color: $vars-grey-100;
          justify-content: center;
          .payment-name {
            @include res-responsive(md) {
              font-size: 14px;
            }
            @include res-responsive(sm) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .modal-content {
    padding: 0;
    gap: 0;
    border-bottom: 0;
  }

  .banking-total {
    padding: $vars-spacing-normal 0;
  }

  .banking-content {
    width: 100%;
    border-bottom: 1px dotted #ced2d6;
    padding: $vars-spacing-normal 0;
    .tab-content {
      text-align: center;
      .tab-pane {
        margin: $vars-spacing-sm 0;
      }
      .text-note {
        @include res-responsive(md) {
          font-size: 14px;
        }

        @include res-responsive(sm) {
          font-size: 12px;
        }
      }
    }
  }
}

.bank-card {
  border: 1px solid black;
  box-shadow: 0px 4px 0px 0px black;
  border-radius: 28px;
  background-color: $vars-black-opacity-30;
  width: 100%;
  max-width: 420px;
  min-height: 212px;
  margin: 0 auto;
  padding: $vars-spacing-normal;
  color: $vars-grey-100;
  position: relative;
  overflow: hidden;
  word-spacing: 0.5px;
  &::after {
    width: 75%;
    content: "";
    position: absolute;
    inset: 0;
    background-color: $vars-white-color;
    border-radius: 28%;
    transform: translate(90%, -70%);
  }

  &::before {
    width: 100%;
    content: "";
    position: absolute;
    inset: 0;
    background-color: $vars-black-color;
    border-radius: 50%;
    opacity: 0.1;
    transform: translate(-35%, 50%);
  }

  &.style-1 {
    background: linear-gradient(167.6deg, #4e2ce4 -9.78%, #c46cff 107.04%);
    border: 1px solid #7b45da;
    box-shadow: 0px 4px 0px 0px #7b45da;
  }

  &.style-2 {
    background: linear-gradient(167.6deg, #2314ad -9.78%, #4c7fff 107.04%);
    border: 1px solid #2820b6;
    box-shadow: 0px 4px 0px 0px #2820b6;
  }

  &.style-3 {
    background: linear-gradient(167.6deg, #0a2b57 -9.78%, #32bdf0 107.04%);
    border: 1px solid #18618f;
    box-shadow: 0px 4px 0px 0px #18618f;
  }

  .bank-info {
    font-size: 14px;
    border-radius: 12px;
    background: #0000003d;
    padding: 6px 12px;
    margin-bottom: 0.5rem;
    @include display-flex-between;
    flex-wrap: wrap;
    text-align: start;
    gap: 0.5rem;
    line-height: 2;
    @include res-responsive(md) {
      font-size: 12px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      width: 100%;
      font-size: 12px;
      @include txt-font-semibold;
      letter-spacing: 1px;
      &.account-number {
        font-size: 18px;
        @include res-responsive(md) {
          font-size: 16px;
        }
      }
    }
    p {
      width: 100%;
      opacity: 0.7;
    }
  }

  .bank-card-wrap {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .account-name {
    width: 100%;
    @include display-flex-between;
    gap: 1rem;
    align-items: start;
    margin-bottom: $vars-spacing-normal;
    text-align: start;
    font-size: 14px;
    padding-left: 12px;
    @include res-responsive(md) {
      font-size: 12px;
    }
    h3 {
      width: 100%;
      font-size: 14px;
      @include txt-font-medium;
      @include res-responsive(md) {
        font-size: 12px;
      }
    }
    p {
      width: 100%;
      line-height: 2;
      opacity: 0.7;
    }
    .bank-img {
      width: 30%;
      max-width: 86px;
      min-width: 64px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.box-filter {
  @include display-flex-layout(row, wrap, start, center, $vars-spacing-sm);

  .filter-title {
    color: $vars-grey-1000;
    @include txt-font-semibold;
  }

  .filter-input {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    input {
      width: fit-content;
      padding: 8px 12px;
    }
  }
}

.box-overview {
  display: flex;
  align-items: center;
  gap: $vars-spacing-normal;
}

.filter {
  gap: $vars-spacing-xs;
  flex-wrap: wrap;
  margin-bottom: $vars-spacing-normal;
}

.history-table {
  width: 100%;
  overflow: auto;

  table {
    width: 100%;
    min-width: 640px;
    overflow: hidden;
  }
}

.goPlay-table {
  width: 100%;
  padding: 4px;

  table {
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    thead {
      width: 100%;
      th {
        text-align: center;
        padding: $vars-spacing-xs;
        background-color: $vars-grey-100;
        border: 1px solid $vars-grey-300;
        @include txt-font-semibold;
        color: $vars-grey-1000;
      }
    }
    tbody {
      td {
        background-color: $vars-white-color;
        box-shadow: none !important;
        border: 1px solid $vars-grey-300;
        padding: $vars-spacing-xs;
        text-align: center;
      }
    }
  }

  .dataTables_paginate {
    margin-top: $vars-spacing-normal;
    @include display-flex-layout(row, nowrap, end, center, $vars-spacing-sm);
    .paginate_button {
      color: $vars-grey-300;
      cursor: pointer;
      margin: 0 $vars-spacing-xs;
      transition: all 0.3s ease;
      &.current {
        color: $vars-error-600;
      }
      &.previous,
      &.next {
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 24px;
        font-size: 0;
        background-color: $vars-grey-300;
        position: relative;
        transition: all 0.3s ease;
        &::before {
          content: ">";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 8px;
          height: 8px;
          border-top: 2px solid $vars-grey-1000;
          border-right: 2px solid $vars-grey-1000;
          transform: translate(-50%, -50%);
        }

        &.disabled {
          opacity: 0;
          cursor: default;
        }
      }

      &.previous {
        &::before {
          transform: translate(-25%, -50%) rotate(-135deg);
        }
      }
      &.next {
        &::before {
          transform: translate(-75%, -50%) rotate(45deg);
        }
      }
    }
  }
}

.store-package {
  width: 100%;
  overflow: auto;
  @include display-flex-layout(
    row,
    nowrap,
    start,
    stretch,
    $vars-spacing-normal
  );
  @include res-responsive(xl) {
    flex-direction: column;
  }
  background-color: #936d5a;
  padding: $vars-spacing-lg;
  border-radius: $vars-spacing-normal;
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Scrollbar track (the background) */
  ::-webkit-scrollbar-track {
    background: #5e4031;
    border-radius: 6px;
  }

  /* Scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: #ae9081;
    border-radius: 6px;
  }

  /* Corner of the scrollbar (where horizontal and vertical meet) */
  ::-webkit-scrollbar-corner {
    background: #5e4031;
  }
  &.style-2 {
    height: 580px;
    justify-content: end;
    padding-top: 3.5rem;
    .sidebar-wrapper {
      justify-content: start;
      padding-right: 4px;
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: $vars-spacing-normal;
      padding: $vars-spacing-sm;
      overflow: auto;
    }

    .store-sidebar {
      background-color: transparent;
      border: 4px solid #ae9081;
      padding: 0 4px 0 0;
      display: flex;
      justify-content: end;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: auto;
        aspect-ratio: 195/58;
        position: absolute;
        inset: 0;
        top: 0;
        transform: translateY(-75%);
        background-image: url("../images/img_store_sidebar.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 10;
        @include res-responsive(xl) {
          display: none;
        }
      }
    }

    @include res-responsive(xl) {
      height: unset;
    }
  }

  .store-sidebar {
    flex: 0 0 25%;
    width: 100%;
    min-width: 148px;
    background-color: #00000033;
    border-radius: $vars-spacing-normal;
    color: $vars-warning-200;

    @include display-flex-layout(
      column,
      nowrap,
      center,
      start,
      $vars-spacing-xs
    );
    padding: $vars-spacing-sm;
    @include res-responsive(xl) {
      flex-direction: row;
      align-items: center;
      padding: $vars-spacing-xs;
    }
    .sidebar-title {
      font-size: 24px;
      @include txt-font-bold;
    }

    .nav {
      width: 100%;
      margin-bottom: 0 !important ;
      gap: 0.5rem;
      .nav-item {
        position: relative;
        .nav-link {
          width: 100%;
          text-align: start;
          border: 2px solid #a35c00;
          border-radius: $vars-spacing-xs;
          padding: 1rem 0.75rem;
          background-color: #e0d5c4;
          color: $vars-warning-1000;
          font-size: 14px;
          @include txt-font-semibold;
          transition: all 0.3s ease;
          &::before {
            transition: all 0.3s ease;
          }
          &.active {
            border: 2px solid #e9a23b;
            background-color: #fefaf5;
            &::before {
              content: "";
              width: 22px;
              height: 27px;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(-50%, -50%);
              background-image: url("../images/ic_active_sidebar.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              z-index: 1;
              @include res-responsive(xl) {
                width: 16px;
                height: 27px;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
              }
            }
          }
          @include res-responsive(lg) {
            width: fit-content;
            padding: 0.5rem 0.75rem;
            font-size: 12px;
          }
        }
      }
    }
  }
  .store-content {
    flex: 1;
    // min-width: 570px;
    overflow: auto;
  }
  .lst-package-wrapper {
    @include res-responsive(md) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include res-responsive(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.package-detail {
  border: 8px solid #d9c7aa;
  background-color: #f1e9e0;
  box-shadow: 0px 15px 35px 0px #676e7614;
  box-shadow: 0px 5px 15px 0px #0000001f;
  border-radius: 16px;
  .modal-title {
    color: $vars-warning-1000;
    h3 {
      font-size: 24px;
      @include txt-font-semibold;
      @include res-responsive(md) {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    }
  }

  .modal-content {
    border-bottom: none;
    .package-detail-wrapper {
      width: 100%;
      max-width: 500px;
      @include display-flex-layout(
        row,
        wrap,
        center,
        center,
        $vars-spacing-normal
      );
      border: 1px dotted #fbbc55;
      padding: $vars-spacing-normal;
      background: #fefaf5;
      border-radius: 16px;
      .package-detail-item {
        gap: 4px;
        img {
          width: 80px;
          aspect-ratio: 1/1;
          height: auto;
        }
        p {
          @include txt-font-bold;
          font-size: 20px;
          text-align: center;
          color: $vars-warning-1000;
          margin-top: 0.5rem;
        }
      }
    }
  }

  .modal-extra {
    .btn-buy-package {
      width: fit-content;
      min-width: 186px;
    }
  }
}
