@use "../global" as *;

.game-card {
  width: 100%;
  max-width: 333px;
  margin: 0 auto;
  .game-card-inner {
    position: relative;
    border-radius: $vars-spacing-normal;
    margin-bottom: $vars-spacing-sm;

    &:hover {
      .game-card-back {
        display: flex;
      }
    }
  }
  .game-card-front {
    position: relative;
    .game-thumb {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 333/412;
        border-radius: $vars-spacing-normal;
        display: block;
      }
    }
    .game-tags {
      position: absolute;
      top: 0;
      right: 0;
      .tag {
        width: fit-content;
        padding: $vars-spacing-xs $vars-spacing-normal;
        border-radius: $vars-spacing-xs $vars-spacing-normal;
        color: $vars-white-color;
        float: right;
        text-transform: uppercase;
        font-size: 14px;
        @include txt-font-bold;
        @include res-responsive(md) {
          font-size: 10px;
        }
        &--new {
          background-color: $vars-error-700;
        }

        &--upcoming {
          background-color: $vars-grey-1000;
        }
      }
    }
  }

  .game-card-back {
    width: 100%;
    height: 100%;
    background-color: $vars-black-opacity-60;
    padding: 1rem;
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-xs
    );
    border-radius: $vars-spacing-normal;
    position: absolute;
    inset: 0;
    display: none;
    transition: all 0.5s ease-in-out;
  }

  .game-card-info {
    .game-name {
      @include txt-font-bold;
      font-size: 18px;
      color: $vars-grey-1000;
      margin-bottom: $vars-spacing-xs;
      @include res-responsive(md) {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
    .game-type {
      font-size: 14px;
      color: $vars-grey-600;
    }
  }
}

.cts-section {
  width: 100%;
  padding: $vars-spacing-normal;
  margin: 4% 0;
  @include res-responsive(md) {
    margin: 8% 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.smMargin {
    margin: 1% 0;
    @include res-responsive(md) {
      margin: 4% 0;
    }
  }
  .cts-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  &--header {
    width: 100%;
    @include display-flex-layout(
      row,
      nowrap,
      space-between,
      center,
      $vars-spacing-xs
    );
    margin-bottom: $vars-spacing-lg;
    @include res-responsive(md) {
      margin-bottom: $vars-spacing-normal;
    }
    .section-title {
      @include txt-font-bold;
    }
  }
  &--body {
    width: 100%;
    .lst-game-container {
      @include display-grid-cols(4, 1rem);
      @include res-responsive(md) {
        @include display-grid-cols(2, 1rem);
      }
      @include res-responsive(sm) {
        @include display-grid-cols(1, 1rem);
      }
    }
    .lst-news-container {
      @include display-grid-cols(5, $vars-spacing-normal);
      @include res-responsive(md) {
        @include display-grid-cols(2, $vars-spacing-normal);
        .news-featured {
          grid-column: span 2 !important;
          grid-row: span 1 !important;
          aspect-ratio: 568/229;
        }
        .news-related {
          grid-column: span 1 !important;
          grid-row: span 1 !important;
          grid-row: auto;
        }
      }
      @include res-responsive(sm) {
        @include display-grid-cols(1, $vars-spacing-normal);
        .news-featured,
        .news-related {
          grid-column: span 1 !important;
          grid-row: span 1 !important;
          aspect-ratio: 16/9;
        }
      }

      .news-featured {
        grid-column: span 3;
        grid-row: span 2;
      }

      .news-related {
        grid-column: span 2;
        aspect-ratio: 568/229;
        &.news-card {
          .news-card-inner {
            .news-card-image {
              img {
                max-width: 70px;
                aspect-ratio: 70/94;
              }
            }
            .news-card-info {
              .news-title {
                font-size: $vars-spacing-normal;
              }
              .news-posted,
              .news-desc {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &.goPlay-infor {
    background: url("../../assets/images/bg_goPlay_infor.png") center / cover
      no-repeat;
    padding: 6% 1rem;
    margin-bottom: 0;
    .cts-container {
      max-width: 1000px;
    }
    .cts-section--header {
      flex-direction: column;
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
      color: white;
      .section-title {
        font-size: 4rem;
        margin-bottom: $vars-spacing-lg;
        @include res-responsive(md) {
          font-size: 2.5rem;
          margin-bottom: $vars-spacing-normal;
        }
        @include res-responsive(sm) {
          font-size: $vars-spacing-xl;
          margin-bottom: $vars-spacing-xs;
        }
      }
      .section-desc {
        font-size: 1.125rem;
        @include res-responsive(sm) {
          font-size: 14px;
        }
        @include res-responsive(md) {
          font-size: $vars-spacing-normal;
        }
      }
    }
  }

  &--footer {
    width: 100%;
    border-top: 1px dotted $vars-grey-300;
    padding-top: $vars-spacing-normal;
  }
}

.news-card {
  width: 100%;
  border-radius: $vars-spacing-normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $vars-black-opacity-60;
  @include display-flex-layout(row, nowrap, center, end, 1rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
  }
  .news-card-inner {
    width: 100%;
    @include display-flex-layout(row, nowrap, center, end, 0);
    .news-card-image {
      img {
        width: 100%;
        max-width: 136px;
        aspect-ratio: 136/182;
        border-radius: 0 $vars-spacing-normal;
        @include res-responsive(md) {
          border-radius: $vars-spacing-normal;
        }
        object-fit: cover;
        display: block;
      }
    }
    .news-card-info {
      flex: 1;
      color: $vars-white-color;
      @include display-flex-layout(column, nowrap, center, start, 0.375rem);
      padding: $vars-spacing-lg $vars-spacing-normal;
      font-size: 18px;
      .news-title {
        @include txt-max-line(2);
        @include txt-font-bold;
        @include res-responsive(md) {
          font-size: $vars-spacing-normal;
        }
      }
      .news-posted {
        @include res-responsive(md) {
          font-size: 14px;
        }
      }
      .news-desc {
        @include txt-max-line(2);
        @include res-responsive(md) {
          font-size: 14px;
        }
      }
    }
  }
}

.box-with-shadow {
  position: relative;
  width: 110px;
  transform: translateY(-50%);
  img {
    width: fit-content;
    object-fit: contain;
  }
  &::before {
    position: absolute;
    right: 50%;
    bottom: -15%;
    transform: translateX(50%);
    content: "";
    width: 82%;
    height: 15px;
    background-color: red;
    aspect-ratio: 3/1;
    border-radius: 50%;
    background-color: $vars-black-color;
    opacity: 40%;
    backdrop-filter: blur(4px);
  }
}

.services-goPlay {
  width: 100%;
  height: fit-content;
  position: relative;
  max-width: 384px;
  margin: 0 auto;
  background: linear-gradient(180deg, #505158 0%, #151515 100%);
  border-radius: $vars-spacing-normal;
  padding: 0 $vars-spacing-lg 16%;
  @include res-responsive(md) {
    padding: 0 $vars-spacing-normal 16%;
  }
  @include res-responsive(sm) {
    padding: 0 $vars-spacing-lg 16%;
  }
  color: $vars-white-color;
  text-align: center;
  @include display-flex-layout(
    column,
    nowrap,
    center,
    center,
    $vars-spacing-sm
  );
  &--header {
    @include display-flex-layout(row, nowrap, center, center, $vars-spacing-xs);
  }
  &--body {
    @include display-flex-layout(
      column,
      nowrap,
      center,
      center,
      $vars-spacing-xs
    );
    h3 {
      @include txt-font-bold;
      font-size: $vars-spacing-lg;
      margin-bottom: $vars-spacing-xs;
    }
    p {
      color: $vars-grey-400;
      min-height: 4rem;
    }
  }
  &--footer {
    @include display-flex-layout(row, nowrap, center, center, $vars-spacing-xs);
  }

  &.isCenter {
    .services-goPlay--header {
      .box-with-shadow {
        @include display-flex-layout(row, nowrap, center, center, 0);
        padding: 10% 2rem 0;
        transform: translateY(0);
        width: 100%;
        background: url("../../assets/images/ic_crown_decor.png") center /
          contain no-repeat;
        img {
          width: fit-content;
          transform: translateY(-75%);
          object-fit: contain;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}

.lst-services-goPlay {
  width: 100%;
  @include display-grid-cols(3, $vars-spacing-normal);
  align-items: end;
  padding-top: 10%;
  @include res-responsive(md) {
    padding-top: 20%;
    grid-template-columns: repeat(1, 1fr);
  }
}

.goPlay-banner {
  width: 100%;
  margin-bottom: 4%;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    display: block;
    @include res-responsive(md) {
      aspect-ratio: 4/3;
    }
  }
  .thumb-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2% $vars-spacing-normal;
    @include res-responsive(md) {
      display: none;
    }
    & .owl-item {
      &.current {
        .goPlay-game-item {
          border: none;
          &::before {
            background-color: transparent;
            border-bottom: 6px solid $vars-error-600;
            @include res-responsive(md) {
              border-bottom: 4px solid $vars-error-600;
            }
            max-width: 100%;
          }
          .game-thumb {
            @include res-responsive(lg) {
              max-width: 96px;
            }
            @include res-responsive(sm) {
              max-width: 48px;
            }
          }
        }
      }
    }
  }
  .goPlay-game-item {
    @include res-responsive(lg) {
      width: fit-content;
      padding: $vars-spacing-sm;
    }
    @include display-flex-layout(
      row,
      nowrap,
      start,
      center,
      $vars-spacing-normal
    );
    background: #24292e80;
    border-radius: $vars-spacing-normal;
    border: 1px solid #383f45;
    padding: $vars-spacing-normal;
    transition: background 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: $vars-white-color;
    @include txt-font-bold;
    &:hover {
      background-color: #24292ee5;
      &::before {
        background-color: transparent;
        border-bottom: 6px solid $vars-error-600;
        @include res-responsive(md) {
          border-bottom: 4px solid $vars-error-600;
        }
        max-width: 100%;
      }
      .game-thumb {
        @include res-responsive(lg) {
          max-width: 96px;
        }
        @include res-responsive(sm) {
          max-width: 48px;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      max-width: 0;
      background-color: transparent;
      z-index: -1;
      border-radius: $vars-spacing-normal;
      transition: all 0.05s ease;
    }
    .game-thumb {
      width: 100%;
      max-width: 94px;
      transition: all 0.3s ease;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
        display: block;
        border-radius: $vars-spacing-xs;
        object-fit: cover;
      }
    }
  }
  .goPlay-slider {
    position: relative;
    .slider-container {
      width: 100%;
      height: 75%;
      max-width: 1440px;
      margin: 0 auto;
      padding: $vars-spacing-normal;
      color: $vars-white-color;
      @include display-flex-layout(
        column,
        nowrap,
        end,
        start,
        $vars-spacing-xs
      );
      @include res-responsive(md) {
        height: 100%;
        padding: $vars-spacing-normal $vars-spacing-lg;
      }
    }
    .slider-wrapper {
      width: 100%;
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .game-detail {
      width: 100%;
      max-width: 460px;
      margin-right: auto;
      @include display-flex-layout(
        column,
        nowrap,
        start,
        start,
        $vars-spacing-lg
      );
      @include res-responsive(lg) {
        gap: $vars-spacing-sm;
        .goPlay-btn {
          padding: $vars-spacing-xs;
        }
      }
      &--logo {
        width: 50%;
        max-width: 248px;
        img {
          width: 100%;
        }
      }
      &--title {
        font-size: $vars-spacing-lg;
        @include txt-font-bold;
        @include res-responsive(md) {
          font-size: $vars-spacing-normal;
        }
      }
      &--desc {
        font-size: 18px;
        @include txt-font-semibold;
        @include txt-max-line(5);
        line-height: 1.5;
        @include res-responsive(md) {
          font-size: 14px;
          @include txt-max-line(3);
        }
      }
      &--actions {
        width: 100%;
        @include display-flex-layout(
          row,
          nowrap,
          start,
          center,
          $vars-spacing-normal
        );
        @include res-responsive(md) {
          .goPlay-btn {
            max-width: fit-content;
            min-width: 120px;
          }
        }
      }
    }
  }
}

.news-section {
  margin: 2% 0;
  .section-title {
    font-size: 36px;
    @include res-responsive(md) {
      font-size: 28px;
    }
  }
}

.goPlay-news-tabs {
  .goPlay-news-navs {
    width: 100%;
    min-width: 100%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }
    margin-bottom: 1%;
  }
  .nav {
    min-width: 520px;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  .nav-link {
    color: $vars-grey-1000;
    padding: 0;
    margin-right: $vars-spacing-sm;
    transition: all 0.3s ease-in-out;
    @include txt-font-semibold;
    font-size: 16px;
    color: $vars-grey-500;
    @include res-responsive(md) {
      font-size: 14px;
      margin-right: $vars-spacing-xs;
    }

    &::before {
      content: "gP";
      font-size: 16px;
      color: transparent;
      transition: all 0.3s ease-in;
    }
    &.active {
      background-color: transparent;
      color: $vars-grey-1000;
      &::before {
        content: "gP";
        font-size: 16px;
        color: transparent;
        background-image: url("../images/ic_tabs_active.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.news-grid {
  width: 100%;
  @include display-grid-cols(3, $vars-spacing-normal);
  gap: $vars-spacing-xl $vars-spacing-md;
  @include res-responsive(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include res-responsive(md) {
    grid-template-columns: repeat(1, 1fr);
    gap: $vars-spacing-xl;
  }
}

.goPlay-news-card {
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  @include display-flex-layout(column, nowrap, start, start, 0);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include res-responsive(md) {
    max-width: 460px;
  }
  &:hover {
    transform: translateY(-4px);
  }
  &__img {
    width: 100%;
    margin-bottom: $vars-spacing-xs;
    img {
      width: 100%;
      aspect-ratio: 451/258;
      object-fit: cover;
      height: auto;
      border-radius: $vars-spacing-xs;
    }
  }

  &__contents {
    color: $vars-grey-1000;
    line-height: 1.5;
    h5 {
      font-size: 18px;
      @include txt-max-line(2);
      @include txt-font-bold;
      margin-bottom: $vars-spacing-xs;
      @include res-responsive(lg) {
        font-size: 16px;
      }
      @include res-responsive(sm) {
        font-size: 14px;
      }
    }

    h6 {
      @include txt-max-line(3);
      line-height: 1.5;
      font-size: $vars-spacing-normal;
      margin-bottom: $vars-spacing-sm;
      @include txt-font-normal;
      @include res-responsive(lg) {
        font-size: 14px;
      }
    }

    p {
      font-size: 14px;
      @include res-responsive(lg) {
        font-size: 12px;
      }
      span {
        margin-right: $vars-spacing-normal;
      }
    }
  }

  &.news-featured {
    flex-direction: row;
    grid-column: span 3;
    max-width: unset;
    @include display-justify-between;
    .goPlay-news-card__img {
      width: 65%;
    }
    .goPlay-news-card__contents {
      width: 35%;
      @media (min-width: 768px) {
        padding: $vars-spacing-xs $vars-spacing-normal;
        h5 {
          line-height: 1.35;
          @include txt-max-line(4);
          font-size: 1.25rem;
          @include txt-font-semibold;
        }
        p {
          margin-bottom: $vars-spacing-normal;
        }
      }
      @media (min-width: 1200px) {
        h5 {
          font-size: 1.875rem;
        }
      }
    }
    @include res-responsive(lg) {
      grid-column: span 2;
    }
    @include res-responsive(md) {
      flex-direction: column;
      grid-column: span 1;
      .goPlay-news-card__img {
        width: 100%;
      }
      .goPlay-news-card__contents {
        width: 100%;
      }
    }
    img {
      width: 100%;
      aspect-ratio: 921/478;
    }
  }
}

.page-breadcrumb {
width: 100%;
  a {
    color: $vars-grey-1000;
    @include display-flex-layout(row, nowrap, start, center, $vars-spacing-sm);
  }
  i {
    font-size: 14px;
  }
}

.article-wrap {
  @include display-flex-layout(row, nowrap, space-between, start, 0);
  @include res-responsive(lg) {
    @include display-flex-column;
  }
}

.article-content {
  width: 65%;
  @include res-responsive(lg) {
    width: 100%;
  }

  .article-title {
    @include txt-font-bold;
    margin-bottom: $vars-spacing-normal;
  }

  .article-meta {
    @include display-flex-layout(
      row,
      nowrap,
      space-between,
      center,
      $vars-spacing-normal
    );
    p {
      span {
        @include txt-font-bold;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.article-related {
  width: 32%;
  position: sticky;
  top: 90px;
  @include display-grid-cols(1, $vars-spacing-normal);

  @include res-responsive(lg) {
    width: 100%;
    margin-top: $vars-spacing-lg;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: unset;
  }
  @include res-responsive(md) {
    grid-template-columns: repeat(1, 1fr);
  }
  .goPlay-news-card {
    margin-bottom: $vars-spacing-md;
    gap: $vars-spacing-sm;
    @include res-responsive(lg) {
      margin-bottom: $vars-spacing-sm;
    }
  }
}
